.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.game{
  display: flex;
  flex-wrap: wrap;
}
.Card{
  color:black;
  margin:20px;
  font-size: 100px;
}
.Card .verso, 
.Card .recto{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  transition: all .5s ease-in;
}

.Card.active .verso{ height: 300px;}
.Card.inactive .verso{ height: 0px;}
.Card.active .recto{  height: 0px;}
.Card.inactive .recto{ height: 300px;}

.Card .recto{ background-color: white; }
.Card .verso{ background-color: black; }
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.list{
  display: flex;
  flex-wrap:wrap;
}
.App-header {
  background-color: red;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
